// html این 2تا متغییر اساین میشه به
:root {
  --back: #000;
  --white: #fff;
}

//  داره theme="dark" این 2تا متغییر اساین میشه به هر تگی که اتریبیوت

[theme="dark"] {
  --back: #fff;
  --white: #000;
}

//  داره theme="light" این 2تا متغییر اساین میشه به تگ  html  که اتریبیوت
// html[theme="light"] {
//   --back: #000;
//   --white: #fff;
// }
